<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="mainFrame">
      
    </div>
  </body>