// Three sets of font pairs header/body
// 1: Source Serif Pro / Source Sans Pro
// 2: Montserrat (sans) / Arvo (slab serif)
// 3: Domine (serif) / Open Sans

@import url('https://fonts.googleapis.com/css?family=Arvo|Domine|Montserrat|Open+Sans|Source+Sans+Pro|Source+Serif+Pro')

body 
  background pink  
  background-image url("./imgs/gradient-1.png")
  background-repeat repeat-x
  font-size 18px
  font-family 'Open Sans', serif

.typicaldiv
  border 5px solid blue
  padding 10px
  -webkit-border-radius 1em
  border-radius 1em

  